/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
 
    background-size: cover;
    background-position: center;
}

/* Contenedor general */
.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%; /* Responsivo para móviles */
    margin: 20px auto; /* Cambiado para estar arriba */
}

/* Título principal */
h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    background-color: #6c97b9;
}

/* Formulario del entrenamiento */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Estilo del textarea */
textarea {
    resize: vertical; /* Permitir redimensionado solo vertical */
    height: 100px;
}

/* Botones */
.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

.back-button {
    background-color: #2196F3;
}

.back-button:hover {
    background-color: #1e88e5;
}

/* Fases contenedor */
.fases-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* Fase item */
.phase-item {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Nombre de la fase */
.phase-item h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #333;
}

/* Botones dentro de cada fase */
.phase-item .button {
    margin-top: 5px;
    background-color: #ff5722;
}

.phase-item .button:hover {
    background-color: #e64a19;
}

/* Botón de eliminar fase */
.delete-button {
    background-color: #f44336;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Adaptación móvil */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
